<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email verification</title>
</head>
<body>
    <h2>To reset your current password and create new click button below</h2>
    <a href="$domain/users/reset-password/token?token=$token">
        <button>New password</button>
    </a>
</body>
</html>